table{
    width: 100%;
    height: calc(100vh);
}
thead th{
    border: 1px solid blue;
}
table td{
    border: 1px solid blue;
    padding: 10px;
    vertical-align: top;
    width: 14.29%;
}
table td:hover{
    transform:scale(1.02);
}